@font-face {
    font-family: FivoHeavy;
    src: url("../resources/FivoSansModern-Heavy.otf") format("opentype");
}

@font-face {
    font-family: FivoMedium;
    src: url("../resources/FivoSansModern-Medium.otf") format("opentype");
}

@font-face {
    font-family: SFPro;
    src: url("../resources/SF-Pro-Display-Regular.otf") format("opentype");
}

[data-md-color-scheme="ctrl"] {
    --md-primary-fg-color: #000000;
    --md-primary-fg-color--yellow: #E1FF04;
    --md-primary-fg-color--pink: #FF28C3;
    --md-primary-fg-color--lightgray: #f3f3f3;
}

.md-header {
    background-color: black;
    color: black
}

.md-tabs__link {
    color: #E1FF04;
    font-size: 13pt;
    font-family: FivoMedium;
}

.md-search__input {
    font-family: SFPro;
}

h1 {
    font-family: FivoHeavy;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: FivoMedium;
}


body {
    font-family: SFPro;
    background-color: #f3f3f3;
}



.md-grid {
    max-width: 100rem;
}

.md-content {
    max-width: 35rem;
    margin: auto;
}

.md-header__topic {
    display: none;

}

.md-nav__link--active {
    color: #000000;
}

.md-nav--primary .md-nav__item--active>.md-nav__link {
    font-weight: bolder;
    color: #FF28C3;
}

.md-ellipsis:hover {
    font-weight: bolder;
    color: #FF28C3;
}

.md-nav__link:hover {
    color: #000000;
}